<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;"><b>Recuperar Contraseña</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" expand="block" (click)="OnResetPass(email)">Enviar</ion-button>


  <ion-row>
    <ion-col>
      <p class="ion-text-center">
        <a routerLink="/login">Se Acordo de su Contraseña Ingrese</a>
      </p>
    </ion-col>
  </ion-row>

</ion-content>
